.bg-color{
  background-color:  #FFF0EC;
  ;
}

.logo-color{
  color: #303179;
  
}

.text-colorr{
  color: linear-gradient(94.77deg, #386ec3 3.43%, #c9381f 41.43%, #A9F9E1 81.05%) !important;


}

.btn1{
  background-color: #EB7A65 !important;
}